<div ng-controller="PinCtrl" ng-init="init()" class="pinTemplateContainer">

    <div class="sub-title padd-left10px themeDarkGreyTextColor" ng-class="fontMenuHeader"></div>
    <div id="pinPanel" class="item item-input pin-pwd-label">
        <div class="row"></div>
    </div>
    <div class="padd-left30px"></div>

    <div class="pin-btn-ctrl font-clanOt-pin-btn">
        <div class="row pin-login-padding padding1px"></div>
        <div class="row pin-login-padding padding1px"></div>
        <div class="row pin-login-padding padding1px"></div>

        <div class="row padding1px">
            <div class="col col-33 padding1px "></div>
            <div class="col col-33 padding1px"></div>
            <div class="col col-33 padding1px"></div>
        </div>
    </div>
</div>