<ion-top-sheet-view>
<div class = "text-center animated slideInDown">			 
<div class = "row fontSize12px bordoerBottom  fundTransScheduleContModal"  >	
 <ion-list class="fundTransModalsHeight paddingNone" >
	 
		<div class = "row padd-bottom padd-left5px padd-Right10px"  >
		  <p class="fontSize14px themeGreyTextColor wordBreak">This is a test message</p> 
		</div>
		<div class = "row padd-bottom padd-left5px padd-Right10px"  >
		  <p class="fontSize14px themeGreyTextColor wordBreak">This is a test message</p> 
		</div>	
		<div class = "row padd-bottom padd-left5px padd-Right10px"  >
		  <p class="fontSize14px themeGreyTextColor wordBreak">This is a test message</p> 
		</div>	
		<div class = "row padd-bottom padd-left5px padd-Right10px"  >
		  <p class="fontSize14px themeGreyTextColor wordBreak">This is a test message</p> 
		</div>	
		<div class = "row padd-bottom padd-left5px padd-Right10px"  >
		  <p class="fontSize14px themeGreyTextColor wordBreak">This is a test message</p> 
		</div>									
	 		 
 </ion-list>
			  	   		  
</div>	
<a class="button button-small button-block" ng-click="closeNotificationModal()" ><span translate="anchor.done"></span></a>	 
 
</div>	    
</ion-top-sheet-view>