<style>
    @import url('fonts/Quark/Quark-Bold.otf');
    @import url('fonts/Quark/Quark-Light.otf');
</style>
<div style="background-color: white;text-align:justify !important;min-height: 450px;">
    <div id="slip" title="" class="fundTransferBgimage" style="background-color: white">
        <div style="width: 100%; text-align: center;background-color: #594F74 !important">
            <div>
                <img src="images/Bank_KK.png" class="appTitleIcon" ng-click="closeRecieptModal()"/>
            </div>
        </div>
        <div class="has-header" scroll="false" overflow-scroll="false" ng-class="" has-bouncing="false">
            <div class="has-header fundTransferReciept-height padd-left0px marginTop15Px" data-ng-init="">
<!-- content here -->
            </div>
        </div>
        <div class="appTitleIcon"></div>
    </div>
</div>