<ion-view id="rtprequest"  title=""> 
		
		<ion-header-bar align-title="center" class="bar bar-subheader bordoerBottom" ng-class="fontHeader">
			<h4 class="title" translate="menu.purchase"></h4>			
		</ion-header-bar> 


		<ion-content class="has-header has-subheader" overflow-scroll="false" padding="false" has-bouncing="false"> 
		<div class="dasboardAccord padding15px txtCenterAlign">
				
				<span ng-if = "fundResultInfo.fundConnectStatusCode == 'FL'"  translate="label.fundTransferFailStatus"></span>
				<span ng-if = "fundResultInfo.fundConnectStatusCode == 'SC'"  translate="label.success"></span>
		</div>

	
		<ion-item  class="paddingNone padd-top10px  txtCenterAlign"  >
				<center class="row icon-row"> 
					<div class="col col-100 padd-top-zero " >
						<div class="col  col-33 padding   marginNone font-bold"  ></div>
						<div  class= "text-ellipsis "  style="font-size: 13px; font-weight: bold;">{{fundConfirmInfoFundList.fundListDetail}} </div>
					</div>
				</center>
		</ion-item>


		<ion-item style="  margin-top:10px;  border-top: 1px solid #ddd;" class="padd-bottom10px paddingNone  txtCenterAlign" >
				<center class="row icon-row"> 
					<div class="col col-100 padd-top-zero padd-bottom10px"  style="font-size: 13px; font-weight: bold;">
						<div class="col  col-33 padding   marginNone font-bold" ></div>
						<div  class= "text-ellipsis ">{{fundResultInfo.unitholderId}}<span ng-if="fundResultInfo.unitHolderName != '-' && fundResultInfo.unitHolderName != null">&nbsp;-&nbsp;{{fundResultInfo.unitHolderName}}</span></div>
					</div>
				</center>
		</ion-item>
			
		
		<div class="transferaccount txtCenterAlign">
				<label class="item item-input themeDarkBlueBGColor">
					<span class="whiteTextColor   font-clanOt-header tablet-inputAmout-top5px" style  = "margin-top: 10px; width: 100%; ">
							{{fundResultInfo.amount | currency : ""}} 
					</span>
				</label>
				<span class="currencySpan" ng-class="fontLabel" translate="label.currency"></span>
		 </div>	


					
		<div class= "padding  padding-left20px  tablet-margin-top25px device-margin-buttom20px" ng-class="fontDisplay">
				<div class = "padd-top15px">
					<div class="row"  >
						<div class=" col col-37 paddingNone    font-bold" translate="label.accNo"></div>
						<div class=" col col-67 paddingNone   ">{{fundResultInfo.accountNo}}</div>
					</div>

					<div class="row" ng-if="fundResultInfo.fundConnectStatusCode === 'SC'">
						<div class="col col-37 paddingNone  font-bold"  translate="label.fundTrfCnfm.ref"></div>
						<div class="col col-67 paddingNone ">{{fundResultInfo.confirmOrderDetail.mutualFundRef}}</div>
					</div>

					<div class="row" ng-if="fundResultInfo.fundConnectStatusCode === 'FL'">
						<div class="col col-37 paddingNone  font-bold"  translate="label.fundTrfCnfm.ref"></div>
						<div class="col col-67 paddingNone ">{{fundResultInfo.confirmOrderDetail.mutualFundRef}}</div>
					</div>

					<div class="row">
						<div class="col col-37 paddingNone  font-bold"  translate="label.orderDate"></div>
						<div class="col col-67 paddingNone ">{{orderDate.date}}&nbsp;<span  translate="{{orderDate.month}}"></span>&nbsp;{{orderDate.year}} {{orderDate.time}}</div> 
					</div>
					<div class="row"  ng-class="{'alertSmartFundTransfer': checkIsSameDate() }" ng-if="fundResultInfo.fundConnectStatusCode === 'SC'">
						<div class="col col-37 paddingNone  font-bold" translate="label.deductMutualFund"></div>
						<div class="col col-67 paddingNone ">{{effectiveDate.date}}&nbsp;<span  translate="{{effectiveDate.month}}"></span>&nbsp;{{effectiveDate.year}}</div>
					</div>

					<div class="row">
						<div class="col col-37 paddingNone  font-bold" translate="label.input.Status"></div>
						<div ng-if="fundResultInfo.fundConnectStatusCode === 'SC'" class="col col-67 paddingNone"><span translate="label.success"></span><span ng-if="fundResultInfo.fundConnectStatusDesc !== null"> - {{fundResultInfo.fundConnectStatusDesc}}</span></div>
						<div ng-if="fundResultInfo.fundConnectStatusCode === 'FL'" class="col col-67 paddingNone"><span translate="label.fundTransferFailStatus"></span><span ng-if="fundResultInfo.fundConnectStatusDesc !== null"> - {{fundResultInfo.fundConnectStatusDesc}}</span></div>
					</div>

				</div>
		</div>
	
		</ion-content> 
		 <ion-footer-bar ng-if="fundResultInfo.canPrintSlip" align-title="left" class="modal-footer" style = "height: 70px;">
          		<button style="margin-left: 3vw;margin-right: 3vw; " class="button button-block font-quark-header themeDarkBlueBGColor whiteTextColor" translate="btn.saveSlip" ng-click="showReceiptPage()">
			</button>
       	 </ion-footer-bar>	
</ion-view>