<ion-modal-view id="accListModal" class="listModal">
    <ion-header-bar class="darkHeadBar">		 
	    <h4 class="title noneLeftRight" translate="label.viewTermAndConditions"></h4>
	    <a class="button button-icon icon ion-ios-close-outline msgIcon fontSize20px" side="right" ng-click="selectClose()"></a>
	</ion-header-bar>
    <ion-content >
    	<div class="row">
    		<div class="col" ng-bind-html="termAndCondText"></div>
    	</div>
    	<div style="height:88px;"></div>
    </ion-content>
  </ion-modal-view>