<ion-view title="" cache-view="false">
    <ion-header-bar align-title="center" class="bar bar-subheader bordoerBottom" ng-class="fontHeader">
        <h4 class="title" translate="menu.mutualFundSearch"></h4>
    </ion-header-bar>
    <ion-content class="has-header " locking="false" padding="false" padding="false" overflow-scroll="false"
                 has-bouncing="false">

        <!-- accept consent -->
        <div class="row"  ng-if="consentData && isShowConsentData">
                <div class="col termAndCondMutualFund"  ng-bind-html="consentData"></div>
        </div>
        <!-- end accept consent-->
        <div ng-if="fundListInfo.length > 0" class="row paddingNone marginNone">
            <div class="col item-input-inset themeDarkBlueBGColor">
                <label class="item-input-wrapper whiteBGColor whiteBGColor">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input class="searchbiller" type="text" placeholder="Fund code" ng-model="fundSearch.fundCode"
                           ng-model-options="{ debounce: 500 }"/>
                </label>
            </div>
        </div>

        <ion-list ng-if="fundListInfo.length > 0" ng-repeat="fundListItem in fundListInfo  | filter:fundSearch"

                  class="externalAccList paddingNone">
                <ion-item class="item-stable item-icon-right dasboardAccord  padding-left5px padding-right5px"
                        ng-class="{active: isGroupShown(fundListItem)}"
                        ng-click="toggleGroup(fundListItem)">

                    <i class="icon fontSize25px whiteTextColor padd-right2px"
                    ng-class="isGroupShown(fundListItem) ?'ion-chevron-down' : 'ion-chevron-right' ">
                    </i>

                    <div>
                        <span class="padd-left4px font-clanOt-news" ng-if = "fundListItem[0].fundPolicySort == '0'">TOP PICK </span>
                    </div>
                    <div>
                        <span class="padd-left4px font-clanOt-news" ng-if = "fundListItem[0].fundPolicySort == '1'">SSF</span>
                    </div>
                    <div>
                        <span class="padd-left4px font-clanOt-news" ng-if = "fundListItem[0].fundPolicySort == '2'">SSFX</span>
                    </div>
                    <div>
                        <span class="padd-left4px font-clanOt-news" ng-if = "fundListItem[0].fundPolicySort == '3'">LTF</span>
                    </div>
                    <div>
                        <span class="padd-left4px font-clanOt-news" ng-if = "fundListItem[0].fundPolicySort == '4'">RMF</span>
                    </div>
                    <div>
                        <span class="padd-left4px font-clanOt-news" ng-if = "fundListItem[0].fundPolicySort == 'F'">Fixed Income</span>
                    </div>
                    <div>
                        <span class="padd-left4px font-clanOt-news" ng-if = "fundListItem[0].fundPolicySort == 'E'">Equity</span>
                    </div>
                    <div>
                        <span class="padd-left4px font-clanOt-news" ng-if = "fundListItem[0].fundPolicySort == 'M'">Mixed</span>
                    </div>
                    <div>
                        <span class="padd-left4px font-clanOt-news" ng-if = "fundListItem[0].fundPolicySort == 'O'">Other</span>
                    </div>
                </ion-item>
                <ion-item  ng-repeat="item in fundListItem  | filter:fundSearch"  ng-if = "isGroupShown(fundListItem)"  class=" padding-left5px padding-right5px fontLabel" ng-click ="onSelectfundListDatail(item)" >
                        <div>
                            <span class="padd-left4px font-clanOt-news mutualFundNameLabel">{{ item.fundCode }} </span>
                        </div>

                        <div  ng-if="lang == 'th'" >
                            <span style="font-size: 12px;" class="padd-left4px font-clanOt-news mutualFundNameLabel">{{ item.fundNameTh }}</span>
                        </div>

                        <div   ng-if="lang == 'en'" >
                            <span style="font-size: 12px;" class="padd-left4px font-clanOt-news mutualFundNameLabel">{{ item.fundNameEn }}</span>
                        </div>
                </ion-item>
        </ion-list>
        <div class="spaceMutualFund"></div>
    </ion-content>
    <!-- accept consent -->
    <ion-footer-bar ng-if="consentData && isShowConsentData" align-title="left" class="modal-footer">
        <div class="col text-center scheduleBtns selectedBtnBGColor">
            <button class="button button-block button-custom" ng-class="fontLabel" translate="button.ok"
            ng-click="acceptConsent()"></button>
        </div>
        <div class="col text-center scheduleBtns selectedBtnBGColor">
            <button class="button button-block button-custom" ng-class="fontLabel" translate="label.cancel"
            ng-click="gotoDashbord()"></button>
        </div>
	</ion-footer-bar>
	<!-- end accept consent -->
</ion-view>

