<form class="paddingRightUnderline" name="frmVerifyUsername" ng-submit="doSubmit(input)">
    <h5 class="addMyAccountfont" translate="input.username"></h5>
    <label class="item item-input addotherAccountCustomBorder addMyAccountUnderLine widt100">
        <i class="icon ion-person placeholder-icon fontSize25px"></i>
        <input type="text" ng-model="input.value.username" maxlength="30">
    </label>
    <h5 class="addMyAccountfont" translate="input.password"></h5>
    <label id="lblPassword" class="item item-input addotherAccountCustomBorder addMyAccountUnderLine widt100">
        <i class="icon ion-android-lock placeholder-icon fontSize25px"></i>
        <input type="password" ng-model="input.value.password" maxlength="20">
    </label>
    <button ng-show="isShowSubmitButton" class="button button-block button-kkcolor widt100 marginLeft20Px" ng-class="fontLabel" type="submit" translate="button.next">
    </button>
</form>