<ion-view id="rtprequest"  drag-content="false"> 
	
		<ion-header-bar align-title="center" class="bar bar-subheader bordoerBottom" ng-class="fontHeader">
			<a class="button button-clear" ng-click="goBackPage()" translate="label.back"  ng-if="isShowNext"></a>	 
			<h4 class="title" translate="menu.switch"></h4>	
		
		</ion-header-bar> 
		
		<ion-content class="has-header has-subheader" overflow-scroll="false" padding="false" has-bouncing="false">
			<div style="min-height: calc(90vh - 110px)">
				<ion-item  class ="padd-bottom  borderNone txtCenterAlign" ng-if="showFundListBtn" >
						<div class="row icon-row" > 
							<div class="col col-100 padd-bottom padd-top5px" >
								<button 
									class="button button-block button-custom themeGreyTextColor font-quark-label  margin-Top5px whiteBGColor"  
									ng-class="fontLabel" 
									style="border-color: #dedede;" 
									ng-click="openSearchFundListModal()" 
									translate="label.fundName">
								</button>
							</div>
						</div>
				</ion-item>
	
				<ion-item  class="paddingNone   txtCenterAlign padd-top10px" ng-if="!showFundListBtn" 	ng-click="openSearchFundListModal()" >
					<center class="row icon-row" > 
							<div class="col col-100 padd-top-zero padd-bottom10px" style = "font-size: 12px;" >
								<div class="col  col-33 padding   marginNone font-bold" ></div>
								<div class= "text-ellipsis padd-bottom10px" style="font-size: 13px !important; font-weight: bold;">{{fundObj.fundListInfoShow.fundCode}} </div>
							
								<div ng-if="!showFundListBtn"  class = "paddingNone " >
									<div>NAV: {{fundObj.fundListInfoShow.navValue}} Baht/Unit (as of {{fundObj.fundListInfoShow.navDateFormat.date}}&nbsp;<span  translate="{{fundObj.fundListInfoShow.navDateFormat.month}}"></span>&nbsp;{{fundObj.fundListInfoShow.navDateFormat.year}}) </div>
								</div>
								<div ng-if= "fundObj.fundListInfoShow.lowSellValue == 0"><span translate="label.minRedemptionAmount"></span>:  - <span translate="label.currency" ></span></div>
								<div ng-if= "fundObj.fundListInfoShow.lowSellValue !== 0"><span translate="label.minRedemptionAmount"></span>:  {{fundObj.fundListInfoShow.lowSellValue | currency : ""}} <span translate="label.currency" ></span></div>
								<div ng-if= "fundObj.fundListInfoShow.lowSellUnit == 0"><span translate="label.minRedemptionUnit"></span>:  - <span translate="label.mutualFund.unit" ></span></div>
								<div ng-if= "fundObj.fundListInfoShow.lowSellUnit !== 0"><span translate="label.minRedemptionUnit"></span>:  {{fundObj.fundListInfoShow.lowSellUnit.toFixed(4)}} <span translate="label.mutualFund.unit" ></span></div>
							</div>
					</center>
				</ion-item>


				<ion-item  class="padd-top-zero"  ng-if="showUnitHolderBtn" >
					<div class="row icon-row" > 
						<div class="col col-100 padd-top-zero padd-bottom" >
							<button 
								ng-disabled="showFundListBtn"
								class="button button-block button-custom themeGreyTextColor font-quark-label whiteBGColor margin-Top5px "  
								ng-class="fontLabel" 
								style=" border-color: #dedede;" 
								ng-click="openUnitHolderModal()" 
								translate="label.unitholderNo">
							</button>
						</div>
					</div>
				</ion-item>

				<ion-item style=" margin-top:10px;  border-top: 1px solid #ddd;" class="padd-bottom10px paddingNone txtCenterAlign" ng-if="!showUnitHolderBtn" 	ng-click="openUnitHolderModal()"  >
					<center class="row icon-row"> 
						<div class="col col-100 padd-top-zero padd-bottom text-ellipsis" style="font-size: 13px; font-weight: bold;">
							<div class="col  col-33 padding   marginNone font-bold"><span ng-if="showUnitHolderBtn" translate="label.unitholderNo"></span></div>
						
							{{fundObj.unitHolderData.unitHolderId}}<span ng-if="fundObj.unitHolderData.unitHolderName != '-' && fundObj.unitHolderData.unitHolderName != null">&nbsp;-&nbsp;{{fundObj.unitHolderData.unitHolderName}}</span>
						</div>
					</center>

					<center > 

						<div ng-if="!showFundListBtn" class = "paddingNone padd-bottom10px"   style = "	font-size: 12px; ">
							<div><span translate="label.available"></span> : {{dataOutStanding.availableBalanceUnitForSell | currency : "" : 4}} <span translate="label.mutualFund.unit"></span> 
							<span translate="label.or"></span> {{dataOutStanding.availableBalanceAmountForSell | currency : "" : 2}} <span translate="label.currency"></span> </div>
							<div> (as of {{dataOutStanding.navDate.date}}&nbsp;<span  translate="{{dataOutStanding.navDate.month}}"></span>&nbsp;{{dataOutStanding.navDate.year}}) </div>		
						</div>
					</center>
					
			</ion-item>
				

		<ion-item class="item-divider todayLaterItem" style = " margin-bottom: 20px; ">
			<div class = "row icon-row">
				<div class = "col text-center scheduleBtns " ng-class="selectMutualFundPerCer" id="TransTodayScheduleDate">
					<button class="button button-block button-custom" ng-class="fontLabel" translate="label.thb" ng-click="mutualFundPerCer()"></button>
				</div>
				<div class = "col text-center scheduleBtns " ng-class="selectMutualFundPerUnit" id="TransFutureScheduleDate">
					<button class="button button-block button-custom" ng-class="fontLabel" translate="label.mutualFund.unit" ng-click="mutualFundPerUnit()"></button>
				</div>
				<div class = "col text-center scheduleBtns" ng-class="selectMutualFundAll" id="TransFutureScheduleDate">
					<button ng-disabled="showFundListBtn" class = "button button-block button-custom" ng-class="fontLabel" translate="label.mutualFund.switchAll" ng-click="mutualFundAll()"></button>
				</div>
			</div> 	     
		</ion-item>

		
		<div class="transferaccount txtCenterAlign">
			<label class="item item-input themeDarkBlueBGColor">
			<input bind-virtual-keyboard 
		vkmodel="fundObj.amount" 
		vkoption="virtualKeyboardAmount.option" 
		onvkkeyup="virtualKeyboardAmount.onkeyup(value)"
		onvkblur="virtualKeyboardAmount.onblur()"
		onvkfocus="virtualKeyboardAmount.onfocus()"
		type="text" class="whiteTextColor txtCenterAlignTextBox resizedEnterAmtTextbox font-clanOt-header"
		ng-model="fundObj.amount" placeholder="{{placeholderAmount}}" />
			</label>
			<span class="currencySpan" ng-class="fontLabel" >{{fundObj.unitRedeem | translate}}</span>
		</div>	
	
			
		<ion-item class="item-divider selectmypromptpayAccount padd-bottom10px"    style = " padding-top: 50px!important;"   >
		
		 	 <center  ng-if="showFundListToBtn" class="selectFromAccountItemButt padding tablet-margin-top25px " style = " padding-top: 20px!important;">
				<button class="button button-block button-custom " 	ng-disabled="showFundListBtn" 	style=" margin-top :-5px; margin-bottom :20px !important;  	background-color: #949599;	border-color: #dedede;	  color: #ffffff;" 		  ng-click="openSearchFundListToModal()" translate="label.fundNameTo" 	ng-class="fontLabel"></button>
			</center>

			<div ng-if="showSelectFundToList" ng-click="openSearchFundListToModal()">
				<div style="padding-top: 5%;" translate="label.switchTo"></div>
				<div style = "overflow: hidden;  text-overflow: ellipsis; white-space: nowrap;" class = "text-ellipsis padd-bottom10px">{{ fundObj.fundListInfoToShow.fundnameTo  }}</div>
				<div style = "font-size: 12px;">
					<div ng-if="!showFundListToBtn"  class = "paddingNone" >
						<div>NAV: {{fundObj.fundListInfoToShow.navValue}} Baht/Unit (as of {{fundObj.fundListInfoToShow.navDate.date}}&nbsp;<span  translate="{{fundObj.fundListInfoToShow.navDate.month}}"></span>&nbsp;{{fundObj.fundListInfoToShow.navDate.year}})  </div>
					</div>
					<div><span translate="label.initialPurchase"></span>: <span ng-if = "fundObj.fundListInfoToShow.firstLowBuyValue  !== 0">{{fundObj.fundListInfoToShow.firstLowBuyValue | currency : ""}} </span> 
					 <span ng-if = "fundObj.fundListInfoToShow.firstLowBuyValue  == 0">-</span>  
					<span translate="label.currency" ></span> 
					<span>{{ firstMinimumUnitForSwitch.toFixed(4) || "-"}}</span> <span translate="label.mutualFund.unit" ></span>
					</div>
					
					
					<div><span translate="label.AdditionPurchase"></span>: <span ng-if = "fundObj.fundListInfoToShow.nextLowBuyValue  !== 0">{{fundObj.fundListInfoToShow.nextLowBuyValue | currency : ""}} </span> 
					 <span ng-if = "fundObj.fundListInfoToShow.nextLowBuyValue  == 0">-</span>  
					 <span translate="label.currency" ></span>
					<span>{{ nextMinimumUnitForSwitch.toFixed(4) || "-"}}</span> <span translate="label.mutualFund.unit" ></span>
					</div>
				</div>
			</div>
		</ion-item>

		
		<div class = "padding font-bold fontHeader fontSize16px" ng-if="fundListTypeCheckStatus">  
			<div ng-if="['LTF','RMF','SSF','SSFX'].includes(fundListInfoShow.taxType)" class="row icon-row  text-overflow: ellipsis; white-space: initial;">
				<span translate="label.fundConnext.AllTaxType"></span>
			</div>
			<!--<div ng-if="fundListTypeCheckStatus" >
				<div ng-if="fundListTypeCheckStatus" class = "padding">  <input type="radio" ng-model="checkRadioButton.name" value="accept" name = "accept"   ng-change="setSelectedAnswer(checkRadioButton.name)">&nbsp;<span translate="label.acceptFund"></span>	</div>
				<div ng-if="fundListTypeCheckStatus" class = "padding">	<input type="radio"  ng-model="checkRadioButton.name" value="declare"  name = "declare"  ng-change="setSelectedAnswer(checkRadioButton.name)">&nbsp;<span translate="label.denialFund"></span>	</div>
			</div>-->
			<div class="row" ng-if="fundListTypeCheckStatus">
					<div class="col">
						<div class="row icon-row traddBillerPromptPayansferTxnPad" ng-click="setSelectedAnswer('accept')">
							<a href="" class="col paddingNone textNOStyle">
		          	<span class="transferDrawCircle"
						  ng-class="{greyTextColor : !fundObj.LTF_Condition || fundObj.LTF_Condition == '0'}">
		          		<i class="ion-checkmark fontSize20px"></i>
		          	</span>
							</a>
							<a href="" class="col col-90 paddingNone textNOStyle margin-Top5px">
                            <span class="themeDarkGreyTextColor fontSize14px"
								  translate="label.acceptFund"></span>
							</a>
						</div>
					</div>
					<div class="col">
						<div class="row icon-row transferTxnPad" ng-click="setSelectedAnswer('declare')">
							<a href="" class="col paddingNone textNOStyle">
		          	<span class="transferDrawCircle"
						  ng-class="{greyTextColor : !fundObj.LTF_Condition || fundObj.LTF_Condition == '1'}">
		          		<i class="ion-checkmark fontSize20px"></i>
		          	</span>
							</a>
							<a href="" class="col col-90 paddingNone textNOStyle margin-Top5px">
                            <span class="themeDarkGreyTextColor fontSize14px"
								  translate="label.denialFund"></span>
							</a>
						</div>
					</div>
				</div>
		</div>

			</div>
			<div style="margin-left: 3vw;margin-right: 3vw;">
				<a class="button button-block font-quark-header themeDarkBlueBGColor whiteTextColor"
				   ng-click="goNextPage()" translate="button.next">
				</a>
			</div>
	
		</ion-content>
<!--		-->
<!--		  <ion-footer-bar align-title="left" class="modal-footer" style = "height: 70px;">-->
<!--          		<button style="margin-left: 3vw;margin-right: 3vw; " class="button button-block font-quark-header themeDarkBlueBGColor whiteTextColor" translate="button.next"    ng-click="goNextPage()">-->
<!--				</button>-->
<!--       		 </ion-footer-bar>	 -->
</ion-view>



