<ion-modal-view id="accListModal" class="listModal">
    <ion-header-bar class="darkHeadBar">		 
		
	    <h4 class="title noneLeftRight" translate="label.fundTransferDetail"></h4>
	    <a class="button button-icon icon ion-ios-close-outline msgIcon fontSize20px" side="right" ng-click="selectClose()"></a>
	</ion-header-bar>
    <ion-content >
	
		
		<div class="row">

			<div  style="margin: 0 auto;" class="col">
				<div class="hist-trans-data item-divider fontSize12px" >


					

						<div class="row padding2px">
								<div class="col padding2px"><span class="label"><span translate="label.from"></span>&nbsp;:&nbsp;{{transaction.fromAliasName}} &nbsp;{{transaction.fromAccountNumber}}</span></div>
							</div>
							<div class="row padding2px">
								<div class="col padding2px"><span translate="label.to"></span>&nbsp;:&nbsp;{{transaction.toAliasName}} &nbsp;{{transaction.toAccountNumber}}</div>
							</div>  
							<div class="hist-trans-data-sub">              
								<div class="row padding2px">
									<div class="col col-60 padding2px">
										<span class="label"><span translate="label.history.bill.referenceNO"></span>&nbsp;:&nbsp;{{transaction.transactionRef || transaction.referenceNumber}}</span>
									</div>
									<div class="col col-30 text-right padding2px">
										<span>{{transaction.amount | currency : ""}}&nbsp;<span  translate="label.currency"></span></span>
									</div>
								</div>
								<div class="row padding2px">
									<div class="col col-60 padding2px">
										<span translate="label.transDate"></span>&nbsp;:&nbsp;{{::transaction.transactionDate.date}}&nbsp;<span>{{transaction.transactionDate.month | translate}}</span>&nbsp;{{transaction.transactionDate.year}}
									</div>
									<div class="col text-right padding2px">
										<span translate="label.history.bill.fee"></span>&nbsp;:&nbsp;{{transaction.feeAmount | currency : ""}}&nbsp;<span translate="label.currency"></span>
									</div>
								</div>
								<div class="row padding2px" ng-if = "transaction.rtpReferenceNo != null">
									<div class="col padding2px"><span translate="label.PayAlertRef"></span>&nbsp;:&nbsp;{{transaction.rtpReferenceNo}}</div>
								</div>
								<div class="row padding2px">
									<div class="col padding2px"><span translate="label.receiveDate"></span>&nbsp;:&nbsp;{{::transaction.creditDate.date}}&nbsp;<span>{{transaction.creditDate.month | translate}}</span>&nbsp;{{transaction.creditDate.year}}</div>
								</div>
								<div class="row padding2px">
									<div class="col padding2px"><span translate="label.deductDate"></span>&nbsp;:&nbsp;{{::transaction.debitDate.date}}&nbsp<span >{{transaction.debitDate.month | translate}}</span>&nbsp{{transaction.debitDate.year}}</div>
								</div>
								<div class="row padding2px">
									<div class="col padding2px"><span translate=" lable.fundschedule.status"></span>&nbsp;:&nbsp;{{transaction.status}}</div>
								</div>
								<div class="row padding2px">
									<div class="col padding2px"><span translate="lable.fundtrfreciept.note"></span>&nbsp;:&nbsp;{{transaction.memo}}</div>
								</div>
							</div>



				</div>
			</div>
	</div>


		<div style="height:88px;"></div>
		





    </ion-content>
  </ion-modal-view>